%section.welcome
  %h1= t('.title', app_name: Documentation.config.app_name)

  %section.chooseVersion
    - if @latest_version.present?
      %p.versionForm
        = label_tag 'versions', t('.label')
        = select_tag 'versions', documentation_version_options, include_blank: true, id: 'version-change',
          data: { path: root_path(version_ordinal: 'ordinal-placeholder') }
    - else
      %h2
        = t('documentation.versions.index.none')

  .override
    %p= t('.content').html_safe

  %p.adminButtons
  - if @latest_version.present?
    = link_to t('.latest_link'), root_path(version_ordinal: @latest_version&.ordinal), :class => 'button preview'

  - if authorizer.can_add_version?
    = link_to t('.manage_versions'), versions_path, :class => 'button edit'