- canAdd = authorizer.can_add_version?

%section.versionsList
  %h1= t('.title')
  %table
    %thead
      %tr
        %td= t('.ordinal')
        %td= t('.languages')
        %td
    %tbody
      - if @versions.any?
        - @versions.each do |version|
          %tr
            %td= link_to version.ordinal, root_path(version_ordinal: version.ordinal)
            %td
              %ul.versionLocales
                - version.available_locales.each do |locale|
                  %li= link_to t("languages.#{locale}"), root_path(version_ordinal: version.ordinal, locale: locale)
            %td= render 'admin_actions', version: version
      - else
        %tr
          %td{ colspan: 3 }= t('.none')
  = render 'admin_buttons'