!!!
%html
  %head
    %title #{@page_title} - #{t('.title')}
    = stylesheet_link_tag 'documentation/application'
    = javascript_include_tag 'documentation/application'
    = csrf_meta_tags
    = render 'layouts/documentation/head'
    = yield :head
  %body
    = render 'layouts/documentation/header'
    %nav.pages
      .inner
        - if @version.present? && request['controller'] != 'documentation/versions'
          = render 'layouts/documentation/search'
          = documentation_navigation_tree_for(@version, @page)

          = render 'layouts/documentation/version_form'
        = render 'layouts/documentation/language_form'
    %section.content
      .inner  
        = flash_messages
        = yield
        = render 'layouts/documentation/footer'
    